<div class="text-center">
  <h1>about works!</h1>
</div>
<div class="row col-md-10">
    <div class="card w-25" style="width:200px; height:200px">
      <img src="../../assets/laptop.jpeg" class="card-img-top" alt="Laptop">
      <div class="card-body">
        <h5 class="card-title">Laptop title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a  class="btn btn-primary" routerLink="laptop">Go somewhere</a>
      </div>
    </div>
    <div class="card w-25" style="width:200px ; height: 200px" >
      <img src="../../assets/mobile1.jpeg" class="card-img-top" alt="Laptop">
      <div class="card-body">
        <h5 class="card-title">Mobile title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a  class="btn btn-primary" routerLink="mobile">Go somewhere</a>
      </div>
    </div>
    <div class="card w-25" style="width:200px ; height:200px">
      <img src="../../assets/tv.jpeg" class="card-img-top" alt="Laptop">
      <div class="card-body">
        <h5 class="card-title">TV title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a  class="btn btn-primary" routerLink="tv">Go somewhere</a>
      </div>
    </div>
</div>
<router-outlet></router-outlet>

