<h1>One Way Binding</h1>
<h2>{{title1}} + {{Num1*Num2}} ==  Interpolation</h2>
<img [src]="imgUrl" alt="Img" height="200px" width="200px">
<button (click)="save($event)">Event Binding</button>

<h2>courses</h2>
<ul>
  <li *ngFor="let course of courses">{{course}}</li>
</ul>


<h2>NgClass Example</h2>
<div [ngClass]="'one'">This div is show ngClass.</div>
{{currentClasses | json}}
<div [ngClass]="currentClasses">This div is initially saveable, unchanged, and special.</div>

<h2>Communicate between parent to child</h2>
<p> Details of {{data}}</p>

<h2>Communicate between child to parent</h2>
<label for="item-input">Add an item:</label>
<input type="text" id="item-input" #newItem>
<button type="button" (click)="addNewItem(newItem.value)">Add to parent's list</button>

