

.header{
  display: flex;
  align-content: flex-start;
  width: 100%;
  padding: 8px 0;
  background-color: #464444;
}
.new{
  padding: 0 10px;
  flex: 1;
  button{
    color: white;
  }
}
.tab{
  flex: 2;
  button{
      border: none;
      padding: 0 15px;
      color: white;
    }
}
.black {
  height: 500px;
  background-color: #3a3939;
  color: white;
  margin: 0 auto;
  width: 1116px;
  overflow-y: scroll;
}
.active{
  background-color: #818396;
}
