.heading{
  margin: 20px 150px;
  color:darkseagreen;
  display: inline-block;
}
.tab{
  display: inline-block;
  button{
    border: 1px solid lightgray;
    padding: 8px 20px;
    border-radius: 6px;
  }
  .home{
    border-bottom-right-radius: 0;
    border-top-right-radius:0 ;
  }
  .display{
    border-bottom-left-radius: 0;
    border-top-left-radius:0 ;
  }
  margin: 0 150px;
}
.active{
  background-color:#677b8d;
}
