<div>
  <div class="showData"></div>
  <div class="addData">
    <div class="today-dropdown" *ngIf="_scheduleService.todayArray">
      <div class="title" *ngIf="_scheduleService.todayArray.length>0"><h4 >Today</h4></div>
      <mat-accordion>
          <mat-expansion-panel (opened)="panelOpenState = true"
                               (closed)="panelOpenState = false"
                               *ngFor="let taskName of _scheduleService.todayArray; let i = index"
                               (click)="_scheduleService.select(i)"
                               [ngClass]="{'red':this._scheduleService.todayArray[this.i].tColor=='red','blue':this._scheduleService.todayArray[this.i].tColor=='lightblue','org':this._scheduleService.todayArray[this.i].tColor=='orange'}"
                               [id]="i" >
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{taskName.taskName}}
              </mat-panel-title>
              <mat-panel-description>
                {{taskName.workSpaceId}}
              </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="description clearfix">
              <hr>
              <div class="notes clearfix">
                <div class="note"><p>Note</p></div>
                <div class="textArea"><textarea (change)="noteChanges($event,_scheduleService.todayArray)" [value]="_scheduleService.todayArray[this.i].tNotes"></textarea></div>
              </div>
              <div class="details clearfix">
                <div class="dueDate">
                  <p>Due Date</p>
                  <mat-button-toggle-group name="fontStyle" aria-label="Font Style" class="lineHeight pad0"
                                           [value]="_scheduleService.todayArray[this.i].tDate"
                                           (change)="onChange($event,_scheduleService.todayArray)">
                    <mat-button-toggle value="today">Today</mat-button-toggle>
                    <mat-button-toggle value="tomorrow">Tomorrow</mat-button-toggle>
                    <mat-button-toggle value="date" class="pad0"><mat-form-field appearance="fill">
                      <input matInput [matDatepicker]="picker" placeholder="Choose Date" (dateChange)="onDateChange($event)">
                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field></mat-button-toggle>
                  </mat-button-toggle-group>
                </div>
                <div class="priority">
                  <p>Priority</p>
                  <mat-form-field appearance="fill" >
                    <mat-select [value]="_scheduleService.todayArray[this.i].tColor">
                      <mat-option *ngFor="let color of _scheduleService.priority" [value]="color.value" (click)="selectCar(color,_scheduleService.todayArray)">
                        {{color.viewValue}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="buttons clearfix">
                  <button class="del btn btn-danger" (click)="delete(_scheduleService.todayArray)">Delete</button>
                  <button class="save btn btn-success" (click)="saveTask()">Save</button>
                </div>
              </div>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
    </div></div>
  <div class="tomorrow-dropdown" *ngIf="_scheduleService.tomorrowArray">
    <div class="title" *ngIf="_scheduleService.tomorrowArray.length>0"><h4 >Tomorrow</h4></div>
    <mat-accordion>
      <mat-expansion-panel (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false"
                           *ngFor="let taskName of _scheduleService.tomorrowArray; let i = index"
                           (click)="_scheduleService.select(i)"
                           [ngClass]="{'red':this._scheduleService.tomorrowArray[this.i].tColor=='red','blue':this._scheduleService.tomorrowArray[this.i].tColor=='lightblue','org':this._scheduleService.tomorrowArray[this.i].tColor=='orange'}"
                           [id]="i" >
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{taskName.taskName}}
          </mat-panel-title>
          <mat-panel-description>
            {{taskName.workSpaceId}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="description clearfix">
          <hr>
          <div class="notes clearfix">
            <div class="note"><p>Note</p></div>
            <div class="textArea"><textarea (change)="noteChanges($event,_scheduleService.tomorrowArray)" [value]="_scheduleService.tomorrowArray[this.i].tNotes"></textarea></div>
          </div>
          <div class="details clearfix">
            <div class="dueDate">
              <p>Due Date</p>
              <mat-button-toggle-group name="fontStyle" aria-label="Font Style" class="lineHeight pad0"
                                       [value]="_scheduleService.tomorrowArray[this.i].tDate"
                                       (change)="onChange($event,_scheduleService.tomorrowArray)">
                <mat-button-toggle value="today">Today</mat-button-toggle>
                <mat-button-toggle value="tomorrow">Tomorrow</mat-button-toggle>
                <mat-button-toggle value="date" class="pad0"><mat-form-field appearance="fill">
                  <input matInput [matDatepicker]="picker" placeholder="Choose Date" (dateChange)="onDateChange($event)">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field></mat-button-toggle>
              </mat-button-toggle-group>
            </div>
            <div class="priority">
              <p>Priority</p>
              <mat-form-field appearance="fill" >
                <mat-select [value]="_scheduleService.tomorrowArray[this.i].tColor">
                  <mat-option *ngFor="let color of _scheduleService.priority" [value]="color.value" (click)="selectCar(color,_scheduleService.tomorrowArray)">
                    {{color.viewValue}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="buttons clearfix">
              <button class="del btn btn-danger" (click)="delete(_scheduleService.tomorrowArray)">Delete</button>
              <button class="save btn btn-success" (click)="saveTask()">Save</button>
            </div>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div></div>
  <div class="inputElement">
    <button (click)="_scheduleService.addTask(taskName.value)" >+</button>
    <input placeholder="Enter some task" #taskName (keyup.enter)="_scheduleService.addTask(taskName.value)">
    <select (change)="_scheduleService.taskChange($event)"><option>select</option><option *ngFor="let list of this._scheduleService.workspace" [value]="list" >{{list}}</option></select>
  </div>

