span{
  margin: 0 5px 0 0;
}

.block{
  margin: 10px;
  border:1px solid rgba(199, 198, 198, 0.6) ;
  padding: 5px;
}
.box{
  padding: 5px;
  border: 1px solid rgba(199, 198, 198, 0.6);
  border-radius: 5px;
  border-bottom: none;
}
.main-block{
  margin: 40px 0;
  border: 1px solid rgba(199, 198, 198, 0.6);
  padding: 10px;
  button{
    border: none;
    border-radius: 5px;
    padding: 6px 15px;
    margin: 6px 0;
  }
}
.heading {
  text-align: center;
  padding: 5px;
  border: 1px solid rgba(199, 198, 198, 0.6);
  color: darkgray;
}
