/* You can add global styles to this file, and also import other style files */
@import "assets/vendors/feather/feather.css";
@import "assets/vendors/mdi/css/materialdesignicons.min.css";
@import "assets/vendors/ti-icons/css/themify-icons.css";
@import "assets/vendors/typicons/typicons.css";
@import "assets/vendors/simple-line-icons/css/simple-line-icons.css";
@import "assets/vendors/css/vendor.bundle.base.css";
@import "assets/js/select.dataTables.min.css";
@import "assets/css/vertical-layout-light/style.css";
