.side-bar{
  float: left;
  width: 270px;
  height: 300px;
  margin: 0 0 0 130px;
  padding: 50px;
  text-align: center;
  background-color: antiquewhite;
}
.display{
  float: left;
  border: 1px solid black;
  margin: 0 20px;
  height: 300px;
}
.clearfix{
  width: 100%;
  display: table;
  content: "";
}
.router{
  margin: 10px;
  border: 1px solid navy;
  text-align: center;
}
