<div class="container text-center">
  <h3>Hello there >>></h3>
</div>
<div class="row">
  <div class="col-md-3">
    <app-test>
      <p #content>Laptop</p>
      <button class="btn btn-outline-warning">Laptop</button>
    </app-test>
  </div>
  <div class="col-md-3">
    <app-test>
      <p #content>Mobile</p>
      <button class="btn btn-outline-warning">Mobile</button>
    </app-test>
  </div>
  <div class="col-md-3">
    <app-test>
      <p #content>TV</p>
      <button class="btn btn-outline-warning">TV</button>
    </app-test>
  </div>
  <div class="col-md-3">
    <app-test>
      <p #content>Tablet</p>
      <button class="btn btn-outline-warning">Tablet</button>
    </app-test>
  </div>

</div>
