.font-size-lg {
  font-size: 1.08rem;
}
.text-dark-75 {
  color: #3F4254 !important;
}
.font-weight-bold {
  font-weight: 500 !important;
}
.mb-1, .my-1 {
  margin-bottom: 0.25rem !important;
}
.flex-column{
  flex-direction: column;
}
.h300{
  height: 300px;
}
