<div class="container">
  <div class="heading"><h2>{{this.cardId}} WorkSpace!</h2></div>
  <div >
    <div class="data" >
      <mat-accordion *ngIf="_taskService.array[this.index].task" >
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false"
                             *ngFor="let taskListName of _taskService.array[this.index].task"
                             [ngClass]="{'red':this.selectValue=='red','blue':this.selectValue=='lightblue','org':this.selectValue=='orange'}">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{taskListName}}
            </mat-panel-title>
            <mat-panel-description>
              {{this.cardId}}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="description clearfix">
            <hr>
            <div class="notes clearfix">
              <div class="note"><p>Note</p></div>
              <div class="textArea"><textarea></textarea></div>
            </div>
            <div class="details clearfix">
              <div class="dueDate">
                <p>Due Date</p>
                <mat-button-toggle-group name="fontStyle" aria-label="Font Style" class="lineHeight pad0">
                  <mat-button-toggle value="today">Today</mat-button-toggle>
                  <mat-button-toggle value="tomorrow">Tomorrow</mat-button-toggle>
                  <mat-button-toggle value="date" class="pad0"><mat-form-field appearance="fill">
                    <input matInput [matDatepicker]="picker" placeholder="Choose Date">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field></mat-button-toggle>
                </mat-button-toggle-group>
              </div>
              <div class="priority">
                <p>Priority</p>
                <mat-form-field appearance="fill" >
                  <mat-select >
                    <mat-option *ngFor="let color of priority" [value]="color.value" (click)="selectCar(color)">
                      {{color.viewValue}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
  <div class="inputElement">
    <button (click)="addTask(taskName.value)">+</button><input placeholder="Enter some task" #taskName>
  </div>

</div>
