<div class="container">
  <div class="heading"><h2>{{this.cardId}} WorkSpace!</h2></div>
  <div >
    <div class="data" >
      <mat-accordion *ngIf="_taskService.array[this.index].task" >
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false"
                             *ngFor="let taskListName of _taskService.array[this.index].task; let i = index"
                             (click)="_taskService.select(i)"
                             [ngClass]="{'red':this._taskService.array[this.index].task[this.i].tColor=='red','blue':this._taskService.array[this.index].task[this.i].tColor=='lightblue','org':this._taskService.array[this.index].task[this.i].tColor=='orange'}"
                             [id]="i" >
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{taskListName.taskName}}
            </mat-panel-title>
            <mat-panel-description>
              {{this.cardId}}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="description clearfix">
            <hr>
            <div class="notes clearfix">
              <div class="note"><p>Note</p></div>
              <div class="textArea"><textarea (change)="noteChanges($event)" [value]="_taskService.array[this.index].task[this.i].tNotes"></textarea></div>
            </div>
            <div class="details clearfix">
              <div class="dueDate">
                <p>Due Date</p>
                <mat-button-toggle-group name="fontStyle" aria-label="Font Style" class="lineHeight pad0"
                                         [value]="_taskService.array[this.index].task[this.i].tDate"
                                         (change)="onChange($event)">
                  <mat-button-toggle value="today">Today</mat-button-toggle>
                  <mat-button-toggle value="tomorrow">Tomorrow</mat-button-toggle>
                  <mat-button-toggle class="pad0"><mat-form-field appearance="fill">
                    <input matInput [matDatepicker]="picker" placeholder="Choose Date " (dateChange)="onDateChange($event)" >
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field></mat-button-toggle>
                </mat-button-toggle-group>
              </div>
              <div class="priority">
                <p>Priority</p>
                <mat-form-field appearance="fill" >
                  <mat-select [value]="_taskService.array[this.index].task[this.i].tColor">
                    <mat-option *ngFor="let color of _taskService.priority" [value]="color.value" (click)="selectCar(color)">
                      {{color.viewValue}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="buttons clearfix">
                <button class="del btn btn-danger" (click)="deleteTask()">Delete</button>
                <button class="save btn btn-success" (click)="saveTask()" >Save</button>
              </div>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
  <div class="inputElement">
    <button (click)="addTask(taskName.value)" >+</button><input placeholder="Enter some task" #taskName (keyup.enter)="addTask(taskName.value)">
  </div>

</div>
