/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/scss/bootstrap";

.clearfix{
  width: 100%;
  display: table;
  content: '';
}
.red{
  border-left:3px solid red
}
.org{
  border-left: 3px solid orange;
}
.blue{
  border-left: 3px solid #92c6d7;
}
