.nav-bar{
  padding: 5px;
  background-color: #cae5ee;
  margin: 0 auto;
  width: 80%;
}

button{
  text-align: left;
  padding: 5px;
  display: block;
  background-color: #cae5ee;
  border: none;
}
.menu{
  width: 150px;
  display: inline-block;
  position:absolute;
  top: 82px;
  left: 130px;
}
.menu1 {
  width: 420px;
  display: inline-block;
  position: absolute;
  top: 82px;
  left: 35%;
}
.menu2 {
  width: 354px;
  display: inline-block;
  position: absolute;
  top: 115px;
  right: 100px;
}
.menu button{
  display: block;
  width: 150px;
  padding: 10px;
  border: none;
}
.sub-menu{
  width: 25%;
  padding: 0px;
  position: absolute;
  top: 140px;
  left: 280px;
}
.nav-bar  button{
  display: inline-block;
  margin: 0 235px 0 0;
}
i{
  background-color: #cae5ee;
}
i:hover{
  background-color: lightblue;
}

.icon{
  position: absolute;
  top: 247px;
  left: 194px;
}
