.nav-bar{
  padding: 5px;
  background-color: #cae5ee;
  margin: 0 auto;
  width: 80%;
}
button{
  text-align: left;
  padding: 5px;
  display: block;
  background-color: #cae5ee;
  border: none;
}
.menu{
  width: 150px;
  display: inline-block;
  position:absolute;
  top: 0;
  left: 130px;
}
.menu1 {
  width: 420px;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 36.8%;
}
.menu2 {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 25.2%;
}
.menu2 button,.sub-menu button{
  width: 155px;
}
.menu button{
  display: block;
  width: 150px;
  padding: 10px;
  border: none;
}
.sub-menu{
  padding: 0px;
  position: absolute;
  top: 0;
  left: 280px;
}
.nav-bar  button{
  display: inline-block;
  margin: 0 185px 0 0;
  width: 151px;
}
i{
  background-color: #cae5ee;
}
i:hover{
  background-color: lightblue;
}

.icon{
  position: absolute;
  top: 247px;
  left: 194px;
}
.nav1{
  position: absolute;
  left: 14.4%;
  top: -33px;
}
.nav2 {
  position: absolute;
  top: -34px;
  left: 46.4%;
}
.nav3{
  position: absolute;
  top: -34px;
  right: 32.5%;
}
.sub-nav1 {
  position: absolute;
  top: 10px;
  left: 18.3%;
}
.sub-nav2 {
  position: absolute;
  top: 122px;
  left: 18.5%;
}
.sub-nav3 {
  position: absolute;
  top: 166px;
  left: 15%;
}
.pr{
  position: relative;
}
