button{
  width: 110px;
  border: 2px outset darkred;
  border-radius: 5px;
  padding: 5px;
}
button:hover{
  background-color: firebrick;
  color: white;
}
table{
  width: 100%;
}
tr.mat-header-row {
  height: 45px;
  background-color: #a7c1f0;
}

